<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCTestProject:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCTestProject-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCTestProject:war exploded" />
    </root>
  </artifact>
</component>